<!-- Header -->
      <div class="relative my-[-20px] mx-auto md:mb-12 h-30 md:h-80 text-center  bg-slate-700">
        {{!-- <h2 class="text-white text-xl font-bold md:text-3xl lg:text-4xl md:pt-10">Como podemos ajudar?</h2>
        <p class=" md:text-2xl text-gray-900 p-5">Tem alguma dúvida ou precisa de ajuda? Entre em contato conosco e vamos encontrar uma solução juntos!</p> --}}
      </div>

<div class="bg-base-200 md:py-8 lg:py-24 contato">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
  
      <div class="grid lg:w-[64%] lg:mx-auto md:top-80 gap-6 md:grid-cols-3 md:absolute md:w-[95%]">
                <!-- Our Address -->
                <div class="card shadow-2xl bg-hite">
                <div class="card-body items-center gap-3">
                    <div class="avatar avatar-placeholder">
                    <div class="border-primary/20 text-primary w-15 rounded-full border">
                        <span class="icon-[tabler--map-pin] bg-cyan-800 size-12"></span>
                    </div>
                    </div>
                    <h4 class="text-2xl font-medium">Localização</h4>
                    <address class="text-center text-base-content  not-italic">
                    KALAWENDA, Cazenga, Ango
                    </address>
                </div>
                </div>

                <!-- Office 2 -->
                <div class="card shadow-2xl bg-white">
                <div class="card-body items-center gap-3">
                    <div class="avatar avatar-placeholder">
                    <div class="border-primary/20 text-primary w-15 rounded-full border">
                        <span class="icon-[tabler--briefcase]  bg-cyan-800 size-12"></span>
                    </div>
                    </div>
                    <h4 class="text-2xl font-medium">E-mail</h4>
                    <address class="text--base-content text-center not-italic">
                    turismoangola@gmail.com
                    </address>
                </div>
                </div>

                <!-- Get in Touch -->
                <div class="card shadow-2xl bg-white">
                <div class="card-body items-center gap-3">
                    <div class="avatar avatar-placeholder">
                    <div class="border-primary/20 text-primary w-15 rounded-full border">
                        <span class="icon-[tabler--phone] bg-cyan-800 size-12"></span>
                    </div>
                    </div>
                    <h4 class="text-base-content  text-2xl font-medium">Contactos</h4>
                    <div class="text-center">
                    <p>+244 954 922 491</p>
                    <p >+244 954 922 491</p>
                    </div>
                </div>
                </div>

          </div>

      <div class="grid lg:grid-cols-[40%_1fr] my-10 ">
        <!-- Image Section -->
        <img
          src="/img/sobre.jpg"
          alt="Contact illustration"
          class="size-full  h-150 md:rounded-l-2xl shadow-2xl"
        />

        <!-- Contact Info Section -->
        <div class="bg-white pt-15">
          
        <form action="" class="w-full h-full grid-cols-12 bg-white sm:rounded-2xl p-6 md:rounded-r-2xl shadow-2xl">
           
            <div class="mt-4">
                <label for="Nome">Nome</label>
                 <input type="text" class="input mt-5" placeholder="Digite o seu E-maial" required />
            </div>

            <div class="mt-4">
                <label for="Nome">E-mail</label>
                 <input type="email" placeholder="Digite o seu E-maial" class="input mt-5" required />
            </div>

             <form action="/contacto" class="w-full grid-cols-12" method="get">
                 <div class="mt-4">
                     <label for="mensagem" class="">Mensagem</label>
                     <textarea class="textarea mt-5" placeholder="Deixe aqui a sua mensagem!"></textarea>
                </div>

                <button type="submit" class="btn btn-primary w-full mt-6">
                    <p class="size-6">Enviar</p>
                </button>
            </form>
        </form>
        </div>
      </div>
    </div>
  </div>