<div class="continer mt-[-20px]">
{{!--Barra de pesquisa--}}

<div class="card w-full">
<form action="/pesquisa" method="post">
  <div class="card-body bg-slate-800 flex justify-around">
    <div class="input input-lg h-10  flex  md:max-w-[60%] mx-auto">
    <span class="icon-[tabler--search] text-base-content/80 my-auto size-6 shrink-0"></span>
    <input type="search" class="p-2" placeholder="pesquisar hotel, praia ou restaurantes..." name="pesquisa" id="pesquisa"/>
    <label class="sr-only" for="kbdInput">Pesquise aqui o seu próximo destino</label>
    </span>
      <button class="md:w-30 btn h-10 mb-20 text-md btn-primary bot">pesquisar</button>
  </div>
</form>

</div>

     <!-- CARROSSEL HTML -->
        <section class="carousel lg:h-150">
            <!-- Slide 1 -->
            <div class="slide">
                <img src="/img/destino1.jpg" alt="Praia de Cabo Ledo">
                <div class="caption">Praia de Cabo Ledo</div>
            </div>


            <!-- Slide 2 -->
            <div class="slide">
                <img class="image" src="/img/destino2.jpg" alt="Luanda City Tour">
                <div class="caption">Luanda City Tour</div>
            </div>


            <!-- Slide 3 -->
            <div class="slide">
                <img class="image" src="/img/destino3.jpg" alt="Serra da Leba">
                <div class="caption">Serra da Leba</div>
            </div>

            <!-- Slide 4 -->

            <div class="slide">
                <img class="image" src="/img/destino4.jpg" alt="Praia de Cabo Ledo">
                <div class="caption">Praia de Cabo Ledo</div>
            </div>


            <!-- Slide 5 -->
            <div class="slide">
                <img class="image" src="/img/destino5.jpg" alt="Luanda City Tour">
                <div class="caption">Luanda City Tour</div>
            </div>


            <!-- Slide 6 -->
            <div class="slide">
                <img class="image" src="/img/destino6.jpg" alt="Serra da Leba">
                <div class="caption">Serra da Leba</div>
            </div>


            <!-- Slide 7 -->

            <div class="slide">
                <img class="image" src="/img/destino7.jpg" alt="Praia de Cabo Ledo">
                <div class="caption">Praia de Cabo Ledo</div>
            </div>


            <!-- Slide 8 -->
            <div class="slide">
                <img class="image" src="/img/destino8.jpg" alt="Luanda City Tour">
                <div class="caption">Luanda City Tour</div>
            </div>


            <!-- Slide 9 -->
            <div class="slide">
                <img class="image" src="/img/destino9.jpg" alt="Serra da Leba">
                <div class="caption">Serra da Leba</div>
            </div>



  <button type="button" class="carousel-prev start-5 max-sm:start-3 carousel-disabled:opacity-50 size-9.5 bg-base-100 flex items-center justify-center rounded-full shadow-base-300/20 shadow-sm">
    <span class="icon-[tabler--chevron-left] size-5 cursor-pointer"></span>
    <span class="sr-only">Previous</span>
  </button>
  <!-- Next Slide -->
   <button type="button" class="carousel-next end-5 max-sm:end-3 carousel-disabled:opacity-50 size-9.5 bg-base-100 flex items-center justify-center rounded-full shadow-base-300/20 shadow-sm">
    <span class="icon-[tabler--chevron-right] size-5"></span>
    <span class="sr-only">Next</span>
  </button>
        </section>


        <!-- Liga o CSS -->
    





</div>

<div class="bg-base-100 py-8 sm:py-16 lg:py-20">
    <div class="mx-auto max-w-full px-4 sm:px-6 lg:px-8 ">
      <!-- Section Header -->
      <div class="mb-12 space-y-4 text-center sm:mb-16 lg:mb-24">
        <h2 class="text-base-content text-2xl font-semibold md:text-3xl lg:text-5xl">Visite os lugares mais populares.</h2>
        <p class="text-base-content/80 text-3xl">
      Explore novos destinos, delicie-se com a culinária local e mergulhe em diversas culturas.
        </p>
      </div>
      <!-- Blog Grid -->
      <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
        <!-- Blog Card 1 -->
        <div class="card card-border shadow-none">
          <figure>
            <img src="https://cdn.flyonui.com/fy-assets/blocks/marketing-ui/blog/blog-36.png" alt="Modern house" />
          </figure>
          <div class="card-body gap-3">
            <h5 class="card-title text-xl">Laws of Transfer of Immovable Property</h5>
            <p class="mb-5">
              Experience the charm of this lovely and cozy apartment, featuring warm decor and inviting spaces, perfect
              for relaxation and comfort, ideal for your next getaway.
            </p>
            <div class="card-actions">
              <a href="/info/hotel Epic-Sana" class="btn btn-primary btn-gradient">
                saber mais
                <span class="icon-[tabler--arrow-right] size-5 rtl:rotate-180"></span>
              </a>
            </div>
          </div>
        </div>
        <!-- Blog Card 2 -->
          <div class="card card-border shadow-none">
            <figure>
              <img src="https://cdn.flyonui.com/fy-assets/blocks/marketing-ui/blog/blog-37.png" alt="Traditional house" />
            </figure>
            <div class="card-body gap-3">
              <h5 class="card-title text-xl">Thane Development Plan 2026 & Master Plan</h5>
              <p class="mb-5">
                Discover a unique nook in the heart of the city, offering convenience and access to attractions. Stylishly
                designed, it provides a comfortable retreat.
              </p>
              <div class="card-actions">
                <a href="/info/hotel Continental" class="btn btn-primary btn-gradient">
                  saber mais
                  <span class="icon-[tabler--arrow-right] size-5 rtl:rotate-180"></span>
                </a>
              </div>
            </div>
          </div>
          <!-- Blog Card 3 -->
          <div class="card card-border shadow-none">
            <figure>
              <img
                src="https://cdn.flyonui.com/fy-assets/blocks/marketing-ui/blog/blog-38.png"
                alt="Modern house with pool"
              />
            </figure>
            <div class="card-body gap-3">
              <h5 class="card-title text-xl">What is a Property Sale Agreement?</h5>
              <p class="mb-5">
                Welcome to this charming independent house bedroom, featuring a spacious layout and cozy furnishings.
                Enjoy abundant natural light and peaceful.
              </p>
              <div class="card-actions">
                <a href="/info/hotel Presidente" class="btn btn-primary btn-gradient">
                saber mais
                  <span class="icon-[tabler--arrow-right] size-5 rtl:rotate-180"></span>
                </a>
              </div>
            </div>
          </div>

           <!-- Blog Card 1 -->
        <div class="card card-border shadow-none">
          <figure>
            <img src="https://cdn.flyonui.com/fy-assets/blocks/marketing-ui/blog/blog-36.png" alt="Modern house" />
          </figure>
          <div class="card-body gap-3">
            <h5 class="card-title text-xl">Laws of Transfer of Immovable Property</h5>
            <p class="mb-5">
              Experience the charm of this lovely and cozy apartment, featuring warm decor and inviting spaces, perfect
              for relaxation and comfort, ideal for your next getaway.
            </p>
            <div class="card-actions">
              <a href="/info/hotel Epic-Sana" class="btn btn-primary btn-gradient">
                saber mais
                <span class="icon-[tabler--arrow-right] size-5 rtl:rotate-180"></span>
              </a>
            </div>
          </div>
        </div>
        <!-- Blog Card 2 -->
          <div class="card card-border shadow-none">
            <figure>
              <img src="https://cdn.flyonui.com/fy-assets/blocks/marketing-ui/blog/blog-37.png" alt="Traditional house" />
            </figure>
            <div class="card-body gap-3">
              <h5 class="card-title text-xl">Thane Development Plan 2026 & Master Plan</h5>
              <p class="mb-5">
                Discover a unique nook in the heart of the city, offering convenience and access to attractions. Stylishly
                designed, it provides a comfortable retreat.
              </p>
              <div class="card-actions">
                <a href="/info/hotel  Presidente" class="btn btn-primary btn-gradient">
                  saber mais
                  <span class="icon-[tabler--arrow-right] size-5 rtl:rotate-180"></span>
                </a>
              </div>
            </div>
          </div>
          <!-- Blog Card 3 -->
          <div class="card card-border shadow-none">
            <figure>
              <img
                src="https://cdn.flyonui.com/fy-assets/blocks/marketing-ui/blog/blog-38.png"
                alt="Modern house with pool"
              />
            </figure>
            <div class="card-body gap-3">
              <h5 class="card-title text-xl">What is a Property Sale Agreement?</h5>
              <p class="mb-5">
                Welcome to this charming independent house bedroom, featuring a spacious layout and cozy furnishings.
                Enjoy abundant natural light and peaceful.
              </p>
              <div class="card-actions">
                <a href="/info/hotel Continental" class="btn btn-primary btn-gradient">
                saber mais
                  <span class="icon-[tabler--arrow-right] size-5 rtl:rotate-180"></span>
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

