  <div class="login-contain">
            <form class="formo" action="">
                <div class="card1">

                    <!-- ================================================
                         LOGOTIPO (IMAGEM)
                         ================================================ -->
                    <div class="cardtopo">
                        <img src="/img/logo.jpg" alt="Logotipo Empire Young" class="logo-img">

                        <h2 class="titulo">Iniciar Sessão</h2>
                        <p>Use o seu email para acessar a sua conta</p>
                    </div>

                    <!-- EMAIL -->
                    <div class="cardgrupo">
                        <label>Email</label>
                        <input class="inpt" type="email" name="email" placeholder="Digite o seu email" required>
                    </div>

                    <!-- SENHA -->
                    <div class="cardgrupo senha-grupo">
                        <label>Senha</label>
                        <input class="inpt" type="password" id="senha" name="senha" placeholder="Digite a sua senha" required>
                        <span id="verSenha" class="ver-senha">Mostrar</span>
                    </div>

                    <!-- BOTÃO -->
                    <div class="cardgrupo botao">
                        <button type="submit">Acessar</button>
                        <p>Não tens uma conta? <a href="cadastro.html">Cadastra-se aqui</a></p>
                    </div>

                </div>
 </form>
</div>