<div class="card  md:w-full">
  <nav class="tabs tabs-bordered card-header md:w-100 md:mx-auto  " aria-label="Tabs" role="tablist">
    <button type="button" class="tab active-tab:tab-active active w-full" id="tabs-card-item-1" data-tab="#tabs-card-1" aria-controls="tabs-card-1" role="tab" aria-selected="false">
      Hoteis
    </button>
    <button type="button" class="tab active-tab:tab-active w-full" id="tabs-card-item-2" data-tab="#tabs-card-2" aria-controls="tabs-card-2" role="tab" aria-selected="false">
      Praias
    </button>
    <button type="button" class="tab active-tab:tab-active w-full" id="tabs-card-item-3" data-tab="#tabs-card-3" aria-controls="tabs-card-3" role="tab" aria-selected="false">
     Tur
    </button>
  </nav>

  <div class="card-body ">
    {{!-- tabs 1 --}}
    <div id="tabs-card-1" role="tabpanel" aria-labelledby="tabs-card-item-1">

        <!--Grid -->
        <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
            <!-- Blog Card 1 -->
            <div class="card card-border shadow-none">
            <figure>
                <img src="https://cdn.flyonui.com/fy-assets/blocks/marketing-ui/blog/blog-36.png" alt="Modern house" />
            </figure>
            <div class="card-body gap-3">
                <h5 class="card-title text-xl">Laws of Transfer of Immovable Property</h5>
                <p class="mb-5">
                Experience the charm of this lovely and cozy apartment, featuring warm decor and inviting spaces, perfect
                for relaxation and comfort, ideal for your next getaway.
                </p>
                <div class="card-actions">
                <a href="/info/hotel Epic-Sana" class="btn btn-primary btn-gradient">
                    saber mais
                    <span class="icon-[tabler--arrow-right] size-5 rtl:rotate-180"></span>
                </a>
                </div>
            </div>
            </div>
            <!-- Blog Card 2 -->
            <div class="card card-border shadow-none">
                <figure>
                <img src="https://cdn.flyonui.com/fy-assets/blocks/marketing-ui/blog/blog-37.png" alt="Traditional house" />
                </figure>
                <div class="card-body gap-3">
                <h5 class="card-title text-xl">Thane Development Plan 2026 & Master Plan</h5>
                <p class="mb-5">
                    Discover a unique nook in the heart of the city, offering convenience and access to attractions. Stylishly
                    designed, it provides a comfortable retreat.
                </p>
                <div class="card-actions">
                    <a href="/info/hotel Continental" class="btn btn-primary btn-gradient">
                    saber mais
                    <span class="icon-[tabler--arrow-right] size-5 rtl:rotate-180"></span>
                    </a>
                </div>
                </div>
            </div>

            
            <!-- Blog Card 3 -->
            <div class="card card-border shadow-none">
                <figure>
                <img
                    src="https://cdn.flyonui.com/fy-assets/blocks/marketing-ui/blog/blog-38.png"
                    alt="Modern house with pool"
                />
                </figure>
                <div class="card-body gap-3">
                <h5 class="card-title text-xl">What is a Property Sale Agreement?</h5>
                <p class="mb-5">
                    Welcome to this charming independent house bedroom, featuring a spacious layout and cozy furnishings.
                    Enjoy abundant natural light and peaceful.
                </p>
                <div class="card-actions">
                    <a href="/info/hotel Presidente" class="btn btn-primary btn-gradient">
                    saber mais
                    <span class="icon-[tabler--arrow-right] size-5 rtl:rotate-180"></span>
                    </a>
                </div>
                </div>
            </div>

        </div>

    </div>

    {{!-- tabs 2 --}}
    <div id="tabs-card-2" class="hidden" role="tabpanel" aria-labelledby="tabs-card-item-2">
      <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
            <!-- Blog Card 1 -->
            <div class="card card-border shadow-none">
            <figure>
                <img src="https://cdn.flyonui.com/fy-assets/blocks/marketing-ui/blog/blog-36.png" alt="Modern house" />
            </figure>
            <div class="card-body gap-3">
                <h5 class="card-title text-xl">Laws of Transfer of Immovable Property</h5>
                <p class="mb-5">
                Experience the charm of this lovely and cozy apartment, featuring warm decor and inviting spaces, perfect
                for relaxation and comfort, ideal for your next getaway.
                </p>
                <div class="card-actions">
                <a href="/info/hotel Epic-Sana" class="btn btn-primary btn-gradient">
                    saber mais
                    <span class="icon-[tabler--arrow-right] size-5 rtl:rotate-180"></span>
                </a>
                </div>
            </div>
            </div>
            <!-- Blog Card 2 -->
            <div class="card card-border shadow-none">
                <figure>
                <img src="https://cdn.flyonui.com/fy-assets/blocks/marketing-ui/blog/blog-37.png" alt="Traditional house" />
                </figure>
                <div class="card-body gap-3">
                <h5 class="card-title text-xl">Thane Development Plan 2026 & Master Plan</h5>
                <p class="mb-5">
                    Discover a unique nook in the heart of the city, offering convenience and access to attractions. Stylishly
                    designed, it provides a comfortable retreat.
                </p>
                <div class="card-actions">
                    <a href="/info/hotel Continental" class="btn btn-primary btn-gradient">
                    saber mais
                    <span class="icon-[tabler--arrow-right] size-5 rtl:rotate-180"></span>
                    </a>
                </div>
                </div>
            </div>

            
            <!-- Blog Card 3 -->
            <div class="card card-border shadow-none">
                <figure>
                <img
                    src="https://cdn.flyonui.com/fy-assets/blocks/marketing-ui/blog/blog-38.png"
                    alt="Modern house with pool"
                />
                </figure>
                <div class="card-body gap-3">
                <h5 class="card-title text-xl">What is a Property Sale Agreement?</h5>
                <p class="mb-5">
                    Welcome to this charming independent house bedroom, featuring a spacious layout and cozy furnishings.
                    Enjoy abundant natural light and peaceful.
                </p>
                <div class="card-actions">
                    <a href="/info/hotel Presidente" class="btn btn-primary btn-gradient">
                    saber mais
                    <span class="icon-[tabler--arrow-right] size-5 rtl:rotate-180"></span>
                    </a>
                </div>
                </div>
            </div>

        </div>
    </div>

    {{!-- tabs 3 --}}
    <div id="tabs-card-3" class="hidden" role="tabpanel" aria-labelledby="tabs-card-item-3">
     <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
            <!-- Blog Card 1 -->
            <div class="card card-border shadow-none">
            <figure>
                <img src="https://cdn.flyonui.com/fy-assets/blocks/marketing-ui/blog/blog-36.png" alt="Modern house" />
            </figure>
            <div class="card-body gap-3">
                <h5 class="card-title text-xl">Laws of Transfer of Immovable Property</h5>
                <p class="mb-5">
                Experience the charm of this lovely and cozy apartment, featuring warm decor and inviting spaces, perfect
                for relaxation and comfort, ideal for your next getaway.
                </p>
                <div class="card-actions">
                <a href="/info/hotel Epic-Sana" class="btn btn-primary btn-gradient">
                    saber mais
                    <span class="icon-[tabler--arrow-right] size-5 rtl:rotate-180"></span>
                </a>
                </div>
            </div>
            </div>
            <!-- Blog Card 2 -->
            <div class="card card-border shadow-none">
                <figure>
                <img src="https://cdn.flyonui.com/fy-assets/blocks/marketing-ui/blog/blog-37.png" alt="Traditional house" />
                </figure>
                <div class="card-body gap-3">
                <h5 class="card-title text-xl">Thane Development Plan 2026 & Master Plan</h5>
                <p class="mb-5">
                    Discover a unique nook in the heart of the city, offering convenience and access to attractions. Stylishly
                    designed, it provides a comfortable retreat.
                </p>
                <div class="card-actions">
                    <a href="/info/hotel Continental" class="btn btn-primary btn-gradient">
                    saber mais
                    <span class="icon-[tabler--arrow-right] size-5 rtl:rotate-180"></span>
                    </a>
                </div>
                </div>
            </div>

            
            <!-- Blog Card 3 -->
            <div class="card card-border shadow-none">
                <figure>
                <img
                    src="https://cdn.flyonui.com/fy-assets/blocks/marketing-ui/blog/blog-38.png"
                    alt="Modern house with pool"
                />
                </figure>
                <div class="card-body gap-3">
                <h5 class="card-title text-xl">What is a Property Sale Agreement?</h5>
                <p class="mb-5">
                    Welcome to this charming independent house bedroom, featuring a spacious layout and cozy furnishings.
                    Enjoy abundant natural light and peaceful.
                </p>
                <div class="card-actions">
                    <a href="/info/hotel Presidente" class="btn btn-primary btn-gradient">
                    saber mais
                    <span class="icon-[tabler--arrow-right] size-5 rtl:rotate-180"></span>
                    </a>
                </div>
                </div>
            </div>

        </div>
    </div>

  </div>
</div>