/* ===== SEÇÕES DE SERVIÇOS ===== */
.servico {
    padding: 50px 20px;
    background-color: #f9f9f9;
}

.servico h2 {
    text-align: center;
    margin-bottom: 20px;
}

.cards-servico {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.cards-servico .card {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    width: 220px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.cards-servico .card img {
    width: 100%;
    border-radius: 8px;
}

.cards-servico .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.cards-servico .card h3 {
    margin-top: 10px;
    font-size: 16px;
}